::-webkit-input-placeholder {
color: white !important;
}

::-moz-placeholder { /* Firefox 18- */
color: white !important;
}

::-moz-placeholder {  /* Firefox 19+ */
color: white !important;
}

::-ms-input-placeholder {
color: white !important;
}
