// a {
//   color:white;
// }

#sidebar {
  position: fixed;
  width: 15%;
  height: 100%;
  background: #151719;
  left: -15%;
  transition: all 500ms linear;
}
#sidebar.active {
  left: 0px;
}

.dashboard-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 80px;
}
#sidebar ul li {
  color: White;
  list-style:none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn {
  position: absolute;
  left: 105%;
  top: 10px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

.sidebar-header {
  margin-top: 10px;
  justify-content: center;
  display: flex;
flex-direction: column;
align-items: center;

}

.img-responsive {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;

}

.climber {
      left: 320px;
  width: 100px;
  position: relative;
  top: -120px;
}

.climber1 {
  left: 305px;
  width: 100px;
  position: relative;
  top: -125px;
  transform: rotate(20deg);
}

.user-name {
  color: white;
}

.fa-circle {
  color: #2CCC23;
}
.status {
  color: #2CCC23;
}

.balance-dash {
  display: flex;
  justify-content: center;
position: relative;

top: -866px;
flex-direction: column;

  align-items: center;
 .invites-dash {
    display: flex;
  align-items: center;
 }
}

.invite-show-dash {
  display: flex;
  position: relative;
  top: -800px;
  justify-content: center;
}

.invite-title-dash {
  display: flex;
  position: relative;
  top: -800px;
  justify-content: center;
}

.badge {
  background-color: red;
  color: white;
  position: absolute;
  right: -13px;
  top: -12px;
  font-size: 0.6em;
}

.dashboard-header {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 60px;
  padding: 8px 16px;
}

.dashboard-header:hover {
  a {color: white;
  }
  background-color: #3073D3;

}

.header-container {
  display: flex;
  justify-content: space-around;
  max-width: 540px;
  position: relative;
  z-index: 2;
  margin: -43px auto 60px;
}
#air {
  color: #167efb;
  font-weight: bolder;
}

.header-first {
  width: 779px;
  display: flex;
  margin-top: 100px !important;
  margin: 0px auto;
  align-items: center;
  background-color: #ebeef8;
    border: none;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid rgba(123, 105, 252, 0.9);
    color: white;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  height: 280px;
  position: relative;

  h1 {
    font-weight: 600;
    font-size: 32px;
    margin-top: -20%;
  }

  p {
    margin-bottom: 4px;
    font-size: 15px;
  }

}

.dashboard-image {
  border-radius: 50%;
  height: 130px;
  display: flex;
  z-index: 1;
  position: relative;
  top: -8px;
  margin-left: 20px;
  justify-content: center;
  border: 3px solid rgba(123, 105, 252, 0.9);
}

.dashboard-writing {

  margin-left: 75px;
  height: 121px;

}

.active {
  background-color: #3073D3;
  a {color: white;
  }
}

.wrapper-dash {
  padding: 0px 16px;
}

.border-glow{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 20px #167efb,
    inset 20px 0 40px #f0f,
    inset -20px 0 40px #167efb,
    inset 20px 0 150px #f0f,
    inset -20px 0 150px #167efb,
    0 0 50px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #167efb;
}

.loader {
    position: absolute;
    margin-top: 5px;
    top: 124px;
    /* left: 200px; */
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
    left: 124px;
    border-radius: 50%;
}
.loader .face {
  position: absolute;
  border: 2px solid #121212;
}

.loader .face.face1 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  box-shadow: 0 0 0 10px rgba(0,0,0,1);
  border-radius: 50%;
  border-left: 2px solid #6c44fc;
  border-top: 2px solid #6c44fc;
  animation: animate 3s linear infinite;
}

.loader .face.face2 {
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  box-shadow: 0 0 0 10px rgba(0,0,0,1);
  border-radius: 50%;
  border-right: 2px solid #167efb;
  border-bottom: 2px solid #167efb;
  animation: animate 3s linear infinite;
}

.loader .face .circle {

  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  width: 50%;
  height: 2px;
  transform-origin: left;
}

.loader .face.face1 .circle {

  transform: rotate(-45deg);

}
.loader .face.face2 .circle {

  transform: rotate(-45deg);

}

.loader .face .circle:before {
  content: '';
  position:absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  top: -4px;
  right: -6px;
}

.loader .face.face1 .circle:before
{
  background: #6c44fc;
  box-shadow: 0 0 20px #6c44fc,
              0 0 40px #6c44fc,
              0 0 60px #6c44fc,
              0 0 80px #6c44fc,
              0 0 100px #6c44fc,
              0 0 0 5px rgba(255,255,0,.1);

}

.loader .face.face2 .circle:before
{
  background: #167efb;
  box-shadow: 0 0 20px #167efb,
              0 0 40px #167efb,
              0 0 60px #167efb,
              0 0 80px #167efb,
              0 0 100px #167efb,
              0 0 0 5px rgba(3,169,244,.1);

}

@keyframes animate
{

  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }

}
