// a {
//   color:white;
// }

#sidebar {
  position: fixed;
  width: 15%;
  height: 100%;
  background: #151719;
  left: -15%;
  transition: all 500ms linear;
}
#sidebar.active {
  left: 0px;
}

.dashboard-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 80px;
}
#sidebar ul li {
  color: White;
  list-style:none;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(100,100,100,0.3);
}
#sidebar .toggle-btn {
  position: absolute;
  left: 105%;
  top: 10px;
}
#sidebar .toggle-btn span {
  display: block;
  width: 30px;
  height: 5px;
  background: #151719;
  margin: 5px 0px;
}

.sidebar-header {
  margin-top: 10px;
  justify-content: center;
  display: flex;
flex-direction: column;
align-items: center;

}

.img-responsive {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 10px;

}

.climber {
  left: 428px;
  width: 100px;
  position: relative;
  top: -82px;
}

.climber1 {
  left: 425px;
  width: 100px;
  position: relative;
  top: -82px;
  transform: rotate(20deg);
}

.user-name {
  color: white;
}

.fa-circle {
  color: #2CCC23;
}
.status {
  color: #2CCC23;
}

.balance-dash {
  display: flex;
  justify-content: center;
position: relative;

top: -866px;
flex-direction: column;

  align-items: center;
 .invites-dash {
    display: flex;
  align-items: center;
 }
}

.invite-show-dash {
  display: flex;
  position: relative;
  top: -800px;
  justify-content: center;
}

.invite-title-dash {
  display: flex;
  position: relative;
  top: -800px;
  justify-content: center;
}

.badge {
  border-radius: 50%;
  background-color: red;
  color: white;
  position: absolute;
  right: -13px;
  top: -12px;
  font-size: 0.6em;

}

.dashboard-header {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 60px;
  padding: 8px 16px;
}

.dashboard-header:hover {
  a {color: white;
  }
  background-color: #3073D3;

}

.header-container {
  display: flex;
  justify-content: space-around;
  max-width: 540px;
  margin: -43px auto 60px;
}
#air {
  color: #167efb;
}

.header-first {
  width: 50%;
  display: flex;
  margin-top: 100px !important;
  margin: 0px auto;
  align-items: center;
  background-color: #ebeef8;
    border: none;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid rgba(123, 105, 252, 0.9);
    color: white;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  height: 260px;

  h1 {
    font-weight: 600;
    font-size: 32px;
  }

  p {
    margin-bottom: 4px;
    font-size: 18px;
  }

}

.dashboard-image {
  border-radius: 50%;
  height: 130px;
  display: flex;
  margin-left: 20px;
  justify-content: center;
      border: 3px solid rgba(123, 105, 252, 0.9);
}

.dashboard-writing {
  height: 113px;
  margin-left: 60px;

}

.active {
  background-color: #3073D3;
  a {color: white;
  }
}

.wrapper-dash {
  padding: 0px 16px;
}

.border-glow{
  height: 150px;
  width: 150px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  border-radius: 50%;
  box-shadow:
    inset 0 0 20px #167efb,
    inset 20px 0 40px #f0f,
    inset -20px 0 40px #167efb,
    inset 20px 0 150px #f0f,
    inset -20px 0 150px #167efb,
    0 0 50px #fff,
    -10px 0 40px #f0f,
    10px 0 40px #167efb;
}
