<h1> test </h1>
<p> need the good form here !!</p>



<h1>New AIRDROP event</h1>



<%= render 'form', airdrop: @airdrop %>



<%= link_to " see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
