


<%= render 'form', airdrop: @airdrop %>


<br>

<div class="text-center">
  <%= link_to "Airdrops", airdrops_path,  :class=>'btn index-button'%>
  <%= link_to "Home", root_path,  :class=>'btn index-button'%>
</div>

