<div class="row donate-row">
      <div>
        <span class="footer-title">Support Bitcoin.org:</span>
        <a onclick="openDonationModal()" class="donate-btn btn-bright">Donate</a>
        <p class="donate-text">
          <a class="donate-link" href="bitcoin:3FkenCiXpSLqD8L79intRNXUgjRoH9sjXa" target="_blank">3FkenCiXpSLqD8L79intRNXUgjRoH9sjXa</a>
        </p>
      </div>
      <div class="donate-qrcode">
        <img src="/img/footer/qr.png?1566407165" alt="QR code">
      </div>
</div>
