
<div class="container">
  <div class="landing-container" style="padding-top: 100px;">

    <h1>AUTOMATE YOU <br> AIRDROPS</h1>
    <span> Simplifying your Cryptocurrencies airdrops, let us distribute your cryptos in a hasle free manner. <br>
    Trust and secure. <br>
    Requiring no technical knowledge.</span>
    <br>

    <%= link_to "add a new airdrop", new_airdrop_path%> |

    <%= link_to " see all airdrops", airdrops_path%> |
    <%= link_to "go home page ", root_path%> |
    <%= link_to "go to donate page", airdrop_donate_path%> |
  </div>
 <br>
<br>
<br>
<br>
<br>

  <h1> here the place to present airtops !</h1>
<br>
<br>
<br>
<br>
<br>

  <p> before the action un call to action to take all emails </p>
</div>
