<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<%= link_to " see all airdrops", airdrops_path%> |
<%= link_to "go home page ", root_path%> |
<%= link_to "go to donate page", airdrop_donate_path%> |
