.falling {
  animation: fall 30s ease infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(10%) rotate(10deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
}

.climbing {
  animation: climb 7s ease infinite;
}

@keyframes climb {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateY(-25%) rotate(15deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
}

.Mo {
  animation: moo 7s ease infinite;
}

@keyframes moo {
    0% {
        transform: translateX(0) rotate(0);
    }

    50% {
        transform: translateX(25%) rotate(-15deg);
    }

    100% {
      transform: translateX(0) rotate(0);
    }
}

.move {
  animation: moo 7s ease infinite;
}

@keyframes moove {
    0% {
        transform: translateY(0) rotate(0);
    }

    50% {
        transform: translateX(-25%) rotate(15deg);
    }

    100% {
      transform: translateY(0) rotate(0);
    }
}


.higher {
  animation: high 25s ease infinite;
}

@keyframes high {
    0% {
        transform: translateY(0px) rotate(15deg);
    }

    10% {
        transform: translateY(100px) rotate(-15deg);
    }

    20% {
      transform: translateY(200px) rotate(15deg);
    }
    30% {
        transform: translateY(300px) rotate(-15deg);
    }

    40% {
        transform: translateY(400px) rotate(15deg);
    }
    50% {
      transform: translateY(500px) rotate(-15deg);
    }
    60% {
      transform: translateY(400px) rotate(15deg);
    }
    70% {
      transform: translateY(300px) rotate(-15deg);
    }
    80% {
      transform: translateY(200px) rotate(15deg);
    }

    90% {
      transform: translateY(100px) rotate(-15deg);
    }

    100% {
      transform: translateY(0px) rotate(15deg);
    }
}






