footer {
  font-size: 18px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 25px;
  animation-delay: 1.5s;
}
#footer i, #footer a {
  font-size: 20px;
  margin: 0 8px;
}
#footer a {
  font-style: italic;
  font-weight: 600;
}
#footer .fa-code { color: #336699; }
#footer .fa-heart { color: #ff3333; }

@media (max-width: 767px) {
  h1 { font-size: 30px; margin: 25px 0 10px 0; }
  h2 { font-size: 18px; }
  #animation-container { height: 50vh; width: 70vw; }
  #animation-button { font-size: 26px; width: 70px; height: 70px; }
  .animated-icon { font-size: 40px; }
  #footer { font-size: 16px; padding: 20px; }
  #footer i, #footer a { font-size: 18px; }
}

@media (max-height: 639px) {
  #footer { position: static; padding-bottom: 10px; }
}
