
.airdrop-form {
  display: flex;
  justify-content: center;
  width: 80%;
}
.row {
    max-width: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
}
.col-lg-6 {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  padding: 30px;
  border-radius: 10px;
  z-index: 5;
}

.form-control-label {
  color: white;
}

#airdrop_crypto {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
  border: none;
  border: 1px solid rgba(123, 105, 252, 0.9);
  color: white;
}

.file {
  color: white;
}
.btn:hover {
  color: white !important;
}
#airdrop_title {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
  border: none;
  border: 1px solid rgba(123, 105, 252, 0.9);
  color: white;
}

#airdrop_amount {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
  border: none;
  border: 1px solid rgba(123, 105, 252, 0.9);
  color: white;
}

#airdrop_description {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
  border: 1px solid rgba(123, 105, 252, 0.9);
  color: white;
}

#airdrop_quote {
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
  border: 1px solid rgba(123, 105, 252, 0.9);
  color: white;
}

// .home-svg5 {
//   background-image: url("parachute2.svg");
//   position: absolute;
//   width: 40%;
//   height: 20%;
//   left: 75%;
//   top: 50%;
//   transform: rotate(35deg);
// }
.text-center {
  font-weight: bolder;
  font-family: 'Quicksand', sans-serif;
  // letter-spacing: 1px;
  margin-bottom: 40px;
  font-size: 25px;
  color: white;
}
//////////////////////////////////////////

// .gardener-clothes {
//   position: relative;
//   &:after{
//     font-family: "FontAwesome";
//     content: "\f002";
//     height: 100%;
// //     width: 20px;
//   }

.the-bfg {
  padding: 60px;

}

.search-butt {
  background-color: transparent !important;
  border: none !important;
  color: #167efb !important;
  font-size: 20px;
}


.magic-bean-garden {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.magic-bean-form {
  width: 150px;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid #167efb;
  transition: 0.2s ease-in-out;
  box-shadow: none;

}

.magic-bean-form:focus, .magic-bean-form:active, .magic-bean-form:hover {
  width: 360px;

}

.email-correct {
  color: blue;

}

.email-error {
  color: red;

}








