
.home-title {
  position: absolute;
  width: 40%;
  height: 10%;
  left: 15%;
  top: 30%;

  font-family: Audiowide;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 60px;
  color: #213248;
}

.home-p {
  position: absolute;
  width: 40%;
  height: 10%;
  left: 15%;
  top: 70%;
  font-family: Arial Unicode MS;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: rgba(33, 50, 72, 0.75);
}

.landing-container {
  display : flex;
  justify-content: center;
}

.home-svg0 {
  position: absolute;
  width: 40%;
  height: 20%;
  left: 40%;
  top: -10%;
  transform: rotate(-20deg);
}
.home-svg1 {
  position: absolute;
  width: 40%;
  height: 20%;
  left: 70%;
  top: 50%;
  transform: rotate(35deg);
}
.home-svg2 {
  position: absolute;
  width: 25%;
  height: 15%;
  left: 50%;
  top: 63%;
  transform: rotate(-25deg);
}
.home-svg3 {
  position: absolute;
  width: 25%;
  height: 15%;
  left: 70%;
  top: 94%;
  transform: rotate(25deg);
}


.button-wraper {
  display: flex;
  position: absolute;
  left: 60%;
  top: 110%;
}
.home-button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #167efb;
  transition: background 0.3s ease;
}
.home-button:hover {
  background: #9f2fff;
  color: white;
}
