.index-button {
  color: white;
  background: #167efb;
  transition: background 0.3s ease;
  border-radius: 9px;
  font-size: 30px;
}
.index-button:hover {
  // background: #9f2fff;
  color: white;
}
