body {
  margin-top: 100px;
}

#air {

}

nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 50px;
  box-sizing: border-box;
  transition: .5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

nav a{
  font-size: 20px;
}

nav.black {
  background: rgba(123,105,252, 0.9);
  height: 80px;
  padding: 10px 50px;

  .logo {
    height: 50px;
    display: flex;
  }

  ul li a {
    color: white !important;
  }

  .logo a {
     color: white !important;
  }
}

nav .logo {
  height: 80px;
  transition: .5s;
  a {
  transition: .5s;
  font-weight: bolder;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 25px;
  text-decoration: none;
  // font-family: 'Audiowide', cursive;
  }
}

nav ul {
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a{
  list-height: 80px;
  color: #167efb;
  padding: 5px 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: .5s;
  font-weight: bolder;
  // font-family: 'Audiowide', cursive;
  font-family: 'Lexend Deca', sans-serif;
  letter-spacing: 1px;
}

nav ul li a.active,
nav ul li a:hover {
  color: rgb(85,137,252);
  border-bottom: 4px solid rgb(123,105,252);
}

section .sec1{
  width: 100%;
  height: 100vh;
  // background: url()
}



/////////////////////////HERO WAVES////////////////////////

.hero-waves{
  background:purple;
  color:white;
  .hero-title{
    padding:15vh 0 5vh 0;
    font-size:3.6rem;
    font-weight:100;
    text-align:center;
    text-shadow:rgba(0,0,0,0.2) 0px 4px 5px;
    small{
      font-size:0.7em;
      opacity:0.7;
    }
  }
  svg{
    display: block;
    height:40vh;
    margin-top:-20vh;
    width: 100%;
    .layer1{
      animation: movewave 5s infinite alternate ease-in-out;
    }
    .layer2{
      animation: movewave 13s infinite alternate-reverse ease-in-out;
    }
    .layer3{
      animation: movewave 11s infinite alternate ease-in-out;
    }
    .layer4{
      animation: movewave 7s infinite alternate-reverse ease-in-out;
    }
    .layer5{
      animation: movewave 3s infinite alternate ease-in-out;
    }
  }
}
.container{
  max-width:600px;
  margin:0 auto;
}
@keyframes movewave {
  from {
    transform: translate(30%,0);
  }
  to {
    transform: translate(-30%,0);
  }
}
