#user_email {
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
    border: none;
    border: 3px solid rgba(123, 105, 252, 0.9);
    color: white;
}

#user_current_password {
      background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
    border: none;
    border: 3px solid rgba(123, 105, 252, 0.9);
    color: white;
}

#user_public_key {
    background: linear-gradient(45deg, #35394a 0%, #1f222e 100%) !important;
    border: none;
    border: 3px solid rgba(123, 105, 252, 0.9);
    color: white;
}

.form-text {
  color: white !important;
}

.superheading {
  // font-weight: bolder;
  font-size: 3.5rem !important;
}
