// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";




html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 0 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
  color: #333;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-top: 4rem;
  margin-bottom: 10rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 4rem;
}

.pen-title {
  display: block;
  grid-column: 1/-1;
  font-size:4rem;
}

.card {
  max-width: 500px;
  width: 100%;
  height: 250px;
  position: relative;
  padding: 3rem 2rem;
  color: white;
  justify-self: center;
  transition: all 0.3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  &:hover {
    transform: scale(1.02);
  }
  .card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    .bottom h2 {
      font-size: 2.6rem;
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    .name {
      font-size: 1.8rem;
    }
    .date {
      font-weight: bold;
      opacity: 0.8;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bookmark {
      margin-left: 5rem;
      border: 2px solid white;
      padding: 0.7rem;
      border-radius: 50%;
      .bookmark-icn {
        fill: white;
      }
      &:hover {
        cursor: pointer;
        background-color: rgba($color: #fff, $alpha: 0.5);
      }
    }
  }

/////////////////////
//Setting up Shadow//
/////////////////////

  .card-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
    .bg-img {
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  .shadow {
    position: absolute;
    width: 90%;
    height: 100%;
    overflow: hidden;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -15px;
    z-index: -2;
    border-radius: 20px;
    filter: blur(15px);
    .shadow-img {
      margin-top: 3rem;
      object-fit: cover;
    }
  }
}
