// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.donate-row {
    flex-direction: column;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer-title {
    font-size: 100%;
    color: #FFFFFF;
    text-align: left;
    line-height: 52px;
    font-weight: 600;
}


.btn-bright {
    background: #FF9500;
    color: #fff;
}
.donate-btn {
    width: 90px;
    height: 35px;
    margin-left: 30px;
    padding: 7px 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    border-radius: 1px;
}

a {
    color: #3490E6;
    text-decoration: none;
    cursor: pointer;
}

.donate-text {
    margin-top: 5px;
}
p, li, table {
    line-height: 1.5em;
}
p {
    margin: 0;
        margin-top: 0px;
}

.donate-link {
    display: block;
    margin-top: 5px;
    text-decoration: underline;
}
.donate-qrcode {
    max-width: 120px;
    margin-top: 20px;
}


.donate-qrcode img {
    max-width: 100%;
}
img {
    border: 0;
}
.donate-qrcode {
    max-width: 120px;
    margin-top: 20px;
}
